{
  "openapi": "3.1.0",
  "info": {
    "title": "Get botnim related information",
    "description": "Retrieves various botnim related information from the botnim api",
    "version": "v1.2.0"
  },
  "servers": [
    {
      "url": "https://www.botnim.co.il"
    }
  ],
  "paths": {
    "/botnim/retrieve/budgetkey/common_knowledge": {
      "get": {
        "description": "Full text search on the budgetkey common knowledge",
        "operationId": "search_budgetkey__common_knowledge",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/budgetkey/common_knowledge__dev": {
      "get": {
        "description": "Full text search on the budgetkey common knowledge",
        "operationId": "search_budgetkey__common_knowledge__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/common_knowledge__dev": {
      "get": {
        "description": "Full text search on the takanon common knowledge",
        "operationId": "search_takanon__common_knowledge__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/common_knowledge": {
      "get": {
        "description": "Full text search on the takanon common knowledge",
        "operationId": "search_takanon__common_knowledge",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/legal_text__dev": {
      "get": {
        "description": "Full text search on the takanon legal text",
        "operationId": "search_takanon__legal_text__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_mode",
            "in": "query",
            "description": "Specialized search mode for the Takanon legal text context. TAKANON_SECTION_NUMBER: Optimized for finding specific sections by their number (e.g., 'סעיף 12'). This mode prioritizes exact matches in the OfficialSource field and is specifically designed for the Takanon legal text format.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["TAKANON_SECTION_NUMBER"],
              "default": null
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/legal_text": {
      "get": {
        "description": "Full text search on the takanon legal text",
        "operationId": "search_takanon__legal_text",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_mode",
            "in": "query",
            "description": "Specialized search mode for the Takanon legal text context. TAKANON_SECTION_NUMBER: Optimized for finding specific sections by their number (e.g., 'סעיף 12'). This mode prioritizes exact matches in the OfficialSource field and is specifically designed for the Takanon legal text format.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["TAKANON_SECTION_NUMBER"],
              "default": null
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/ethics_decisions__dev": {
      "get": {
        "description": "Full text search on the ethics committee decisions",
        "operationId": "search_takanon__ethics_decisions__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query for ethics committee decisions",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {}
  }
}