{
  "openapi": "3.1.0",
  "info": {
    "title": "Get budget related information",
    "description": "Retrieves a various budget related information from the budgetkey api",
    "version": "v1.2.0"
  },
  "servers": [
    {
      "url": "https://next.obudget.org"
    }
  ],
  "paths": {
    "/api/tables/{dataset}/info": {
      "get": {
        "description": "Get information regarding a specific BudgetKey dataset (national budget tables: budget_items_data, budget_changes, budget_books_dynamic_data). Returns only the schema/column descriptions — DOES NOT return cabinet decision text or metadata. **NOT a substitute for the Aurora `government_decisions` retrieval tool**, which is the canonical source for Israeli cabinet-decision content. Use this only for budget/spending tables.",
        "operationId": "DatasetInfo",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "description": "id of the dataset to get information for. Valid values: budget_items_data, budget_changes, budget_books_dynamic_data. (NOTE: a `government_decisions` dataset exists in BudgetKey but it covers BUDGET-LINE allocations tied to cabinet decisions, NOT the decision text — use the Aurora `government_decisions` retrieval tool for decision content.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/api/tables/{dataset}/search": {
      "get": {
        "description": "Full text search on a specific BudgetKey dataset (budget tables only). NOT for cabinet decision content — for 'החלטות ממשלה' / cabinet decisions use the Aurora `government_decisions` retrieval tool instead.",
        "operationId": "DatasetFullTextSearch",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "description": "id of the dataset to search",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/api/tables/{dataset}/query": {
      "get": {
        "description": "Perform SQL on a specific BudgetKey dataset's database (budget tables only). NOT for cabinet decisions — for 'החלטות ממשלה' / cabinet decisions use the Aurora `government_decisions` retrieval tool, which has full-text + LLM-derived categories not present in the BudgetKey budget tables.",
        "operationId": "DatasetDBQuery",
        "parameters": [     
          {
            "name": "dataset",
            "in": "path",
            "description": "id of the dataset to query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },          
          {
            "name": "query",
            "in": "query",
            "description": "Postgresql compatible SQL query to execute, based on the dataset's database schema",
            "example": "SELECT * FROM budget_items_data",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of rows to return, has to be 50",
            "example": 20,
            "required": true,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
