.checkpoints/
.DS_Store
.env
out/
botnim.egg-info/
__pycache__/
.cursor/rules/onboarding.mdc
venv/

*.pdf

botnim/document_parser/dynamic_extractions/logs/chunks/*
!botnim/document_parser/dynamic_extractions/logs/chunks/.gitkeep
